{% extends "BaseManager.html.twig" %}

{% block body %}
    <div class="container mt-5">

        <h1 class="mb-4">le compte rendu d'activitéee pour le mois de {{ month }}</h1>
    <table class="table table-striped table-hover" data-filter-control="true" id="myTable" style="font-size:17px">
 <thead>
    <tr>
      <th data-sortable='true'>ID</th>
      <th data-sortable='true'>Code Porjet ID</th>
      <th data-sortable='true'>Date</th>
    <th data-sortable='true'>N° de jours</th>
      <th width='500px'>Jours Entrés</th>
    </tr>
  </thead>
  <tbody>
        {# {% for cra in cra %}
    <tr>
      <td>{{ cra }}</td>
      <td>{{ cra.cra_codeProjet }}</td>
      <td>{{ cra.date }}</td>
      <td>{{ cra.nombreDeJours }}</td>
      <td>{{ cra.cra_daysInput }}</td>
          </tr>
    {% endfor %} #}
  </tbody>
</table>
    </div>

<script>
  const selects = document.querySelectorAll('select');
  const daysInput = document.getElementById('nombreDeJours');
  const allOnesButton = document.getElementById('all-ones-button');
  const clearButton = document.getElementById('clear-button');
  let totalDays = 0;

  selects.forEach(select => {
    select.addEventListener('change', () => {
      const currentValue = parseFloat(select.value);
      const previousValue = parseFloat(select.getAttribute('data-previous-value'));
      // Si la valeur sélectionnée change de 1 à 0, soustraire 1 du nombre total de jours
      if (previousValue === 1 && currentValue == 0 && currentValue == 0.5) {
        totalDays -= 1;
      }
      // Si la valeur sélectionnée change de 0 à 0.5 ou à une autre valeur, mettre à jour le nombre total de jours en ajoutant ou en soustrayant la différence
      else if (previousValue === 0 && currentValue !== 0) {
        totalDays += currentValue;
      }
      else if (previousValue !== currentValue) {
        totalDays += (currentValue - previousValue);
      }
      daysInput.value = totalDays;
      select.setAttribute('data-previous-value', currentValue);
    });
    // Initialiser la valeur précédente de chaque select à 1
    select.setAttribute('data-previous-value', '1');
  });

  allOnesButton.addEventListener('click', () => {
    selects.forEach(select => {
      if (select.getAttribute('disabled') !== 'true') {
        select.value = "1";
        totalDays += 1;
        daysInput.value = totalDays;
        select.setAttribute('data-previous-value', '1');
      }
    });
    allOnesButton.setAttribute('disabled', 'true'); // désactiver le bouton "Remplir Cra"
  });

  clearButton.addEventListener('click', () => {
    selects.forEach(select => {
      select.value = "0";
      select.setAttribute('data-previous-value', '0');
    });
    totalDays = 0;
    daysInput.value = totalDays;
    allOnesButton.removeAttribute('disabled'); // activer à nouveau le bouton "Remplir Cra"
  });
</script>

    <style>
        .form-control {
          display: block;
          width: 60px;
          height: calc(1.5em + .75rem + 2px);
          padding: .375rem .75rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          color: #495057;
          background-color: #fff
          background-clip: padding-box;
          border: 1px solid #ced4da;
          border-radius: .25rem;
          transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }

        #sidebar {
          min-width: 200px;
          background: #f9c52d5e;
          color: #0d0c0c;
          border-radius: .25rem;
          transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
        #sidebar {
          min-width: 200px;
          background: #f9c52d5e;
          color: #0d0c0c;
        transition: all 0.3s;
         width: 50px;
}
    </style>
{% endblock %}